// Colors
$voilet: hsl(243, 47%, 57%);
$drkBlack: hsl(240deg 15% 15%); // Main Bg
$drkGray: rgb(51, 51, 70); // Box Color
$blue: hsl(192deg 71% 60%);
$white: hsl(0, 0%, 100%);

// Durations
$trnsDu: 0.3s;
